# Created by https://www.gitignore.io/api/haskell

### Haskell ###
site/dist
site/cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
site/.hpc
site/.hsenv
site/.cabal-sandbox/
site/cabal.sandbox.config
*.prof
*.aux
*.hp
site/.stack-work/
site/_cache/
site/_site/
